/* Apply styles to the main content container */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#login-page {
    display: flex;
    justify-content: center; /* Horizontally center the sections */
    align-items: center; /* Vertically center the sections */
}
/* Apply styles to input boxes */

body {
    font-family: 'Roboto', sans-serif;
    color: #1C1B1F;
    background-color:#FFFBFE;
}

input {
    border: 1px solid #E7E0EC;
    padding: 10px;
    border-radius: 8px;
    outline: #EADDFF;
}
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#main-creation {
    align-items: center;
}
.open-queue {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#head, #queue-buttons, header, #welcome {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

header, #welcome {
    justify-content: space-between;
}

.form-wrapper {
    background-color:#E7E0EC;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
form > input {
    margin-bottom: 10px;
}
#radio {
    display: flex;
    flex-direction: column;
    align-items: start;
}
form {
    display: flex;
    flex-direction: column;
    padding:15px;
}


.sections-wrapper {
    display: flex; /* Display children (sections) in a row */
    justify-content: center;
}
#teacher-section, #student-section {
    display: flex; /* Display children (sections) in a row */
    align-items: center;
    flex-direction: column;

}
/* Apply common styles to buttons and input fields */
button {
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
    background-color: #6750A4;

}

.queues {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
  }
  
  table td, table th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    text-align: center;
    padding: 5px;
  }
  
  table thead {
    background-color: #7EA8F8;
  }
  

/* Apply darker background on button hover */
button:hover {
    box-shadow: 0 0 5px #E7E0EC;
  }
